.ant-menu .ant-menu-item{
    font-size:18px;
    font-weight:bold;
    height:60px;
    line-height:60px;
    .anticon{
        margin-right:6px;
        font-size:20px;
    }
}
h1{
    font-size:20px;
}